<!DOCTYPE html>
<html lang="en">

<head>
    <title>Finanza</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="assets/js/jquery.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <script src="assets/js/bootstrap.js"></script>

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
    <h1>Finanza</h1>
    <form action="/add_outcome" method="post">
        <input type="text" name="name" placeholder="Outcome name" required>
        <input type="text" name="ref_year" placeholder="Outcome ref_year" required>
        <input type="text" name="ref_month" placeholder="Outcome ref_month" required>
        <input type="text" name="amount" placeholder="Outcome amount" required>
        <button type="submit">Add Outcome</button>
    </form>
    <h2>Outcomes List:</h2>
    <ul>
        {% for outcome in outcomes %}
        <li>{{ outcome }}</li>
        {% endfor %}
    </ul>
</body>

</html>