<!DOCTYPE html>
<html lang="en">

<head>
    <title>Finanza</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>
    <section id="header">
        <h1>Finanza</h1><h2>{{ pageValue }}</h2>
    </section>
    
    <form action="/add_outcome" method="post">
        <input type="text" name="name" placeholder="Outcome name" required>
        <input type="text" name="ref_year" placeholder="Outcome ref_year" required>
        <input type="text" name="ref_month" placeholder="Outcome ref_month" required>
        <input type="text" name="amount" placeholder="Outcome amount" required>
        <button type="submit">Add Outcome</button>
    </form>
    <h2>Outcomes List:</h2>
    <ul>
        {% for outcome in outcomes %}
        <li>{{ outcome }}</li>
        {% endfor %}
    </ul>
</body>

</html>