body {
  /* * overflow: hidden; /* */
}

.clearDiv {
  clear: both;
}

.hiddenDiv {
  display: none;
}

.loginResultDiv {
  border: 1px solid grey;
  padding: 1%;
}

.loginErrorDiv {
  color: red;
}

.errorField {
  border: 1px solid red;
}

.loginBody {
  background-color: lightgreen;
}

.loginHeader {
  color: orange;
  text-align: center;
  border-bottom: 1px dotted black;
}

.loginFormDiv {
  padding: 2%;
  border: 1px dotted orange;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-top: 10%;
  background-color: lightgrey;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px black;
}

.loginFormField {
  float: left;
  margin-top: 1%;
}

#loginBtn:hover {
  color: orange;
}

.registerFormDiv {
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding: 2%;
  height: 80%;
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  z-index: 1;
  position: absolute;
}

.registrationTitleSpan {
  color: orange;
}

.registerField {
  float: left;
  margin-top: 1%;
  margin-left: 1%;
}

.headerDiv {
  border-bottom: 1px solid black;
  padding: 1%;
  float: right;
  width: 100%;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  color: tomato;
}

.headerBlockDiv {
  float: left;
  width: 45%;
}

.headerTitleDiv {
  float: left;
  width: 40%;
}

.headerFormDiv {
  text-align: right;
}

#overviewYearSelect {
  cursor: pointer;
  font-size: medium;
  background-color: azure;
  font-weight: bold;
}

.highlight {
  background-color: orange;
}

table {
  font-size: 12px;
}

table th,
table td {
  text-align: center;
}

table td.sourceTab {
  background-color: yellow;
  padding: 10px;
  border: 1px solid black;
}

table td.totTab {
  background-color: orangered;
  color: white;
}

table td.greenTab {
  background-color: darkgreen;
  color: whitesmoke;
}

table td.netTab {
  background-color: lightgreen;
  color: black;
}

table td.statTab {
  background-color: white;
  color: black;
}

table td.totRedTab {
  background-color: red;
  color: white;
}

table td.firstTableField {
  background-color: black;
}

table td.billFieldTab {
  background-color: lightblue;
  padding: 10px;
  border: 1px solid black;
}

table td.calculatedFieldHead {
  background-color: wheat;
}

table td.calculatedField {
  color: darkorange;
  font-weight: bold;
}

table td.totalField {
  background-color: beige;
  font-size: larger;
}

table td.totalAllField {
  font-size: x-large;
}

table td.separatorRow {
  background-color: bisque;
  border: 0px solid black;
}

table td.totalTab {
  background-color: orangered;
  color: whitesmoke;
  border: 0px solid black;
}

table td.saldiTab {
  background-color: darkgrey;
  color: black;
  border: 0px solid black;
}

table td.evidenceTxtNormalOrange {
  font-weight: normal;
  color: orangered;
}

table td.evidenceTxtOrange {
  font-weight: bold;
  color: orangered;
}

table td.evidenceTxtRed {
  font-weight: bold;
  color: red;
}

table td.evidenceTxtGreen {
  font-weight: bold;
  color: green;
}

table td.evidenceTxtNormalGreen {
  font-weight: normal;
  color: green;
}

.editableField {
  cursor: pointer;
}

.calculatedField {
  cursor: not-allowed;
}

.editableField:hover,
.calculatedField:hover {
  background-color: beige;
}

.popupDiv {
  width: 80%;
  height: 80%;
  padding: 1%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: black;
  color: white;
  z-index: 1;
  opacity: 0.9;
  position: absolute;
}

.updateFormHeader {
  border-bottom: 1px solid white;
}

.updateHeaderDiv {
  float: left;
}

#updateCloseBtn {
  float: right;
  cursor: pointer;
}

.updateFormRowDiv {
  margin-top: 5%;
  border: 1px solid white;
  border-radius: 30px 30px 30px 30px;
  padding: 1%;
  cursor: pointer;
}

.updateFormRow {
  margin-top: 1%;
  margin-bottom: 1%;
}

.updateFormActDiv {
  margin-top: 5%;
  border: 1px solid white;
  border-radius: 30px 30px 30px 30px;
  padding: 1%;
}

.billContentDiv {
  border: 1px solid grey;
  height: 90%;
  overflow: auto;
}

.datepicker {
  cursor: pointer;
}

.datepickerPresent {
  background-color: wheat;
}

.datepickerAbsent {
  background-color: white;
  opacity: 0.4;
}

.evidenceTxt {
  font-weight: bold;
  font-size: larger;
}

.dbBackupDiv {
  border-top: 0px solid grey;
  border-bottom: 0px solid grey;
  float: right;
}

#backupDbButton {
  margin-left: 2%;
}

/* *.bckCsontentContainer{padding: 2%;border: 1px solid grey;margin-top: 3%;}/* */
.bckTd {
  text-align: left;
}

.bckTdSection {
  float: left;
  width: 30%;
  text-align: center;
}

.bkpTdAction {
  cursor: pointer;
}

.bkpTdAction:hover {
  color: orange;
}

/*  Accordion section */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* */