body {
  /* * overflow: hidden; /* */
}

.clearDiv {
  clear: both;
}

.hiddenDiv {
  display: none;
}

.loginResultDiv {
  border: 1px solid grey;
  padding: 1%;
}

.loginErrorDiv {
  color: red;
}

.errorField {
  border: 1px solid red;
}

.loginBody {
  background-color: lightgreen;
}

.loginHeader {
  color: orange;
  text-align: center;
  border-bottom: 1px dotted black;
}

.loginFormDiv {
  padding: 2%;
  border: 1px dotted orange;
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-top: 10%;
  background-color: lightgrey;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px black;
}

.loginFormField {
  float: left;
  margin-top: 1%;
}

#loginBtn:hover {
  color: orange;
}

.registerFormDiv {
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding: 2%;
  height: 80%;
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  z-index: 1;
  position: absolute;
}

.registrationTitleSpan {
  color: orange;
}

.registerField {
  float: left;
  margin-top: 1%;
  margin-left: 1%;
}

.headerDiv {
  border-bottom: 1px solid black;
  padding: 1%;
  float: right;
  width: 100%;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  color: tomato;
}

.headerBlockDiv {
  float: left;
  width: 45%;
}

.headerTitleDiv {
  float: left;
  width: 40%;
}

.headerFormDiv {
  text-align: right;
}

#yearSelector {
  cursor: pointer;
  font-size: medium;
  background-color: azure;
  font-weight: bold;
}

.highlight {
  background-color: orange;
}

table {
  font-size: 12px;
}

table th,
table td {
  text-align: center;

  &.tdlordo,
  &.tdamount {
    color: darkblue;
  }
  &.tdnetto {
    color: green;
  }
  &.tdtaxes,
  &.tdinterests {
    color: red;
  }
  &.tdtot_income {
    color: green;
    font-weight: bold;
  }
  &.tdcapital {
    color: green;
  }
  &.tdbckname {
    width: 90%;
  }
  &.tdspese_fisse {
    font-weight: normal;
    color: red;
  }
  &.tdspese_extra_red {
    font-weight: normal;
    color: red;
    background-color: wheat;
  }
  &.tdspese_totali {
    font-weight: bold;
    color: red;
  }
  &.tdsaldo {
    font-weight: bold;
    color: green;
  }

  .tdUpdate {
    display: none;
    text-align: center;
  }

  &.notAllowedField {
    cursor: not-allowed;
  }

  &.editableField {
    cursor: pointer;
  }

  .editableField:hover {
    background-color: wheat;
  }

  .docViewerSpan {
    cursor: pointer;
    color: brown;
    text-decoration: none;
  }

  .docViewerSpan:hover {
    color: tomato;
  }
}

table thead th {
  &.thtitle {
    font-size: 1rem;
    background-color: aliceblue;
  }
}

table td.evidenceSelectedMonth{
  background-color: wheat;
}

.editableField {
  cursor: pointer;
}

.editableField:hover,
.calculatedField:hover {
  background-color: beige;
}

/* Datepicker styles */

.datepicker {
  cursor: pointer;
}

.datepickerPresent {
  background-color: wheat;
}

.datepickerAbsent {
  background-color: white;
  opacity: 0.4;
}

/*  Accordion section *
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* */
